div.crojo {
    border: 5px;
    background-color: red;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 10px;
    display: flex;
}

div.cazul {
    border: 5px;
    background-color: blue;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 10px;
}

div.camarillo {
    border: 5px;
    background-color: yellow;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.contenedor{
    display: flex;
}

.boton {
    margin-left: 55px;
}